language: node_js
node_js:
- "6.9"
dist: trusty
before_script:
- npm list -g firebase-tools --depth=0 || npm install -g firebase-tools
script:
- npm install
- cd functions
- npm install
after_success:
- ./deploy.sh m4m-code-heroes
cache:
  directories:
    - $(npm config get prefix)/bin/firebase-tools
    - node_modules
